<a href="https://colab.research.google.com/github/Fitzpatrique/Deep-Learning/blob/main/Hands_on_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Artificial Neural Network

import the necessary libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import tensorflow as tf

In [ ]:
tf.__version__

'2.5.0'

Load the dataset into a pandas dataframe

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Machine Learning A-Z (Codes and Datasets)/Part 8 - Deep Learning/Section 39 - Artificial Neural Networks (ANN)/Python/Churn_Modelling.csv")

Perform EDA on the pandas dataframe

In [ ]:
print(df.head())

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
df.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

#Data Preprocessing

In [ ]:
df.drop(labels=['RowNumber','CustomerId','Surname'], axis=1, inplace=True)

In [ ]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

Perform Label Encoding

In [ ]:
geo_list = list(df['Geography'].unique())
gen_list = list(df['Gender'].unique())
print(geo_list,gen_list)

['France', 'Spain', 'Germany'] ['Female', 'Male']

In [ ]:
def france_label(geo):
  if geo == 'France':
    return 1
  else:
    return 0

def spain_label(geo):
  if geo == 'Spain':
    return 1
  else:
      return 0

def germany_label(geo):
  if geo == 'Germany':
    return 1
  else:
    return 0

def gen_label(gen):
  for i in range(len(gen_list)):
    if gen_list[i] == gen:
      return i

In [ ]:
df['France'] = df['Geography'].apply(france_label)
df['Spain'] = df['Geography'].apply(spain_label)
df['Germany'] = df['Geography'].apply(germany_label)
df['Gender'] = df['Gender'].apply(gen_label)

In [ ]:
df.drop(labels='Geography', axis=1, inplace=True)
df.head()

   CreditScore  Gender  Age  Tenure  ...  Exited  France  Spain  Germany
0          619       0   42       2  ...       1       1      0        0
1          608       0   41       1  ...       0       0      1        0
2          502       0   42       8  ...       1       1      0        0
3          699       0   39       1  ...       0       1      0        0
4          850       0   43       2  ...       0       0      1        0

[5 rows x 13 columns]

In [ ]:
 cols = df.columns.tolist()
 print(cols)

['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited', 'France', 'Spain', 'Germany']

In [ ]:
cols = ['Gender', 'France', 'Spain', 'Germany','HasCrCard', 'IsActiveMember','CreditScore','Age', 'Tenure', 'Balance', 'NumOfProducts','EstimatedSalary', 'Exited']

In [ ]:
df = df[cols]

In [ ]:
df.head()

   Gender  France  Spain  ...  NumOfProducts  EstimatedSalary  Exited
0       0       1      0  ...              1        101348.88       1
1       0       0      1  ...              1        112542.58       0
2       0       1      0  ...              3        113931.57       1
3       0       1      0  ...              2         93826.63       0
4       0       0      1  ...              1         79084.10       0

[5 rows x 13 columns]

Splitting the data set into the training set and testing set with scikit learn

In [ ]:
X = df.values[:,:-1]
y = df.values[:, -1]

print(X)
print(y)

[[0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 1.0134888e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 8.3807860e+04
  1.0000000e+00 1.1254258e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.5966080e+05
  3.0000000e+00 1.1393157e+05]
 ...
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 4.2085580e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 7.5075310e+04
  2.0000000e+00 9.2888520e+04]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.3014279e+05
  1.0000000e+00 3.8190780e+04]]
[1. 0. 1. ... 1. 1. 0.]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:,6:] = sc.fit_transform(X_train[:,6:])
X_test[:,6:] = sc.transform(X_test[:,6:])

In [ ]:
print(X_train)

[[ 1.          0.          0.         ...  0.90982532 -0.91872163
  -0.56087335]
 [ 0.          0.          1.         ...  0.64950905 -0.91872163
  -0.156221  ]
 [ 1.          0.          1.         ... -1.22091009  0.79931788
   1.56921791]
 ...
 [ 0.          0.          0.         ...  0.69034266  0.79931788
  -0.14906952]
 [ 0.          1.          0.         ...  0.56499322 -0.91872163
  -0.7496959 ]
 [ 1.          0.          0.         ...  0.42602853 -0.91872163
  -1.71929584]]

#Building the ANN

Initialize the ANN

In [ ]:
ann = tf.keras.models.Sequential()

Adding the input layer and the first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation= 'relu'))

Adding the second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation= 'relu'))

Adding the output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=1, activation= 'sigmoid'))

#Training the ANN

Compiling the ANN

In [ ]:
ann.compile(optimizer= 'adam',loss= 'binary_crossentropy' ,metrics= ['accuracy'])

Training the ANN on the dataset

In [ ]:
ann.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5856 - accuracy: 0.7431
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4696 - accuracy: 0.8018
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4385 - accuracy: 0.8101
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4252 - accuracy: 0.8098
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4150 - accuracy: 0.8150
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4008 - accuracy: 0.8231
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3834 - accuracy: 0.8345
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3670 - accuracy: 0.8436
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3557 - accuracy: 0.8495
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3488 - accuracy: 0.8522
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3452 - accuracy: 0.8554
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8565
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8553
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8559
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8580
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8574
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8591
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8591
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8596
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8601
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8599
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8600
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8612
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8608
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8627
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8610
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8629
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8634
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8619
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8609
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8634
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3313 - accuracy: 0.8611
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3310 - accuracy: 0.8633
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8626
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3307 - accuracy: 0.8624
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8625
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3303 - accuracy: 0.8633
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3301 - accuracy: 0.8630
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3301 - accuracy: 0.8608
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3297 - accuracy: 0.8635
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3294 - accuracy: 0.8652
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3295 - accuracy: 0.8649
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3291 - accuracy: 0.8640
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3292 - accuracy: 0.8625
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3293 - accuracy: 0.8640
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3292 - accuracy: 0.8627
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3282 - accuracy: 0.8637
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3284 - accuracy: 0.8627
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3284 - accuracy: 0.8636
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3287 - accuracy: 0.8620
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3277 - accuracy: 0.8644
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3282 - accuracy: 0.8651
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3277 - accuracy: 0.8648
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3276 - accuracy: 0.8646
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3279 - accuracy: 0.8631
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3280 - accuracy: 0.8649
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3275 - accuracy: 0.8620
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3276 - accuracy: 0.8631
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3276 - accuracy: 0.8640
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3276 - accuracy: 0.8633
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3274 - accuracy: 0.8629
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3272 - accuracy: 0.8643
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3266 - accuracy: 0.8634
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3267 - accuracy: 0.8646
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3271 - accuracy: 0.8643
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3271 - accuracy: 0.8626
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3271 - accuracy: 0.8637
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3273 - accuracy: 0.8624
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3268 - accuracy: 0.8633
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3268 - accuracy: 0.8639
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3268 - accuracy: 0.8645
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3271 - accuracy: 0.8631
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3266 - accuracy: 0.8630
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3268 - accuracy: 0.8636
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3267 - accuracy: 0.8643
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3258 - accuracy: 0.8634
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3262 - accuracy: 0.8636
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3264 - accuracy: 0.8655
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3261 - accuracy: 0.8646
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3262 - accuracy: 0.8630
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3261 - accuracy: 0.8650
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3263 - accuracy: 0.8650
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3263 - accuracy: 0.8644
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3258 - accuracy: 0.8655
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3261 - accuracy: 0.8656
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3262 - accuracy: 0.8637
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3263 - accuracy: 0.8658
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3259 - accuracy: 0.8640
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3254 - accuracy: 0.8631
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3259 - accuracy: 0.8648
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3255 - accuracy: 0.8646
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3253 - accuracy: 0.8646
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3257 - accuracy: 0.8668
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3257 - accuracy: 0.8649
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3257 - accuracy: 0.8645
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3260 - accuracy: 0.8640
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3251 - accuracy: 0.8639
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3256 - accuracy: 0.8645
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3254 - accuracy: 0.8636
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3254 - accuracy: 0.8635

In [ ]:
print(ann.predict(X_test))
y_predict = ann.predict(X_test)

[[0.59071475]
 [0.72505105]
 [0.59895635]
 ...
 [0.14211884]
 [0.25376147]
 [0.9262406 ]]

In [ ]:
print(y_test)

[0. 0. 1. ... 1. 0. 1.]

#Making the predictions and evaluating the model

Predicting a single observation

In [ ]:
list1 = [[1,0,0,0,1,1]]
list1 = np.array(list1)
print(list1)

[[1 0 0 0 1 1]]

In [ ]:
list2 = sc.transform([[600,40,3,60000,2,50000]])
list2 = np.array(list2)
print(list2)

[[-0.52493139  0.09471269 -0.69884427 -0.26134615  0.79931788 -0.87196872]]

In [ ]:
list3 = np.concatenate((list1,list2), axis=1)
print(list3)

[[ 1.          0.          0.          0.          1.          1.
  -0.52493139  0.09471269 -0.69884427 -0.26134615  0.79931788 -0.87196872]]

In [ ]:
print(ann.predict(list3) > 0.5)

[[False]]

In [44]:
y_predict = (y_predict > 0.5)
print(np.concatenate((y_predict.reshape(len(y_predict), 1), y_test.reshape(len(y_test), 1)), 1))

[[1. 0.]
 [1. 0.]
 [1. 1.]
 ...
 [0. 1.]
 [0. 0.]
 [1. 1.]]

Making the confusion matrix

In [45]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_predict)
print(cm)
accuracy_score(y_test, y_predict)

[[1507   71]
 [ 219  203]]

0.855